
*.pickle
*.csv
*.dot
*.pyc
.DS_Store
/env/*
/.DS_Store
/.vscode/*
/src/ASMO
/src/summarydata
/src/data
/src/pipeline/data
*.txt
*.html
/venv/*

*.xml
*.all
*.jar
*.iml
*.properties
training_and_testing/machine_learning/test.py
