
/training_and_testing/rogue/*
/training_and_testing/data/*
/training_and_testing/outdated/*
/training_and_testing/ASMO/*
/training_and_testing/sum_corpus/*
*.pickle
*.csv
*.dot
*.pyc
.DS_Store
/env/*
/.DS_Store
/.vscode/*
/src/ASMO
/src/summarydata
/src/data
/src/pipeline/data
*.txt
*.html
/venv/*
*.zip
*.xml
*.all

