/training&testing/ASMO
/training&testing/rogue
/training&testing/SUMO
/training&testing/training/data
/training&testing/training/seq
/training&testing/UKHL_pipeline/data
/training&testing/machine_learning/sum_corpus
/training&testing/machine_learning/data
*.pickle
*.csv
*.dot
*.pyc
/training&testing/machine_learning/ASMO
.DS_Store
